@import './color-constants.less';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap.css');

h1 {
  margin-left: 8em;
}

.scroll-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.auth-container {
  display: flex;
  flex-direction: column;
  padding: 2em 4em 2em 4em;
  width: 30em;
  margin: auto;
  text-align: left;
  background-color: @form-bg-color;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.left-tab {
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: -6em;
  width: 5em;
  border-radius: 0 6px 6px 0;
  padding: 1em 1.3em 1em 1.3em;
  text-align: center;
  font-size: 16px;
  background-color: @tangerine;
  color: white;
  cursor: pointer;
}

.dash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.dash-item {
  display: flex;
  flex-direction: column;
  width: 8em;

  .thumb {
    width: 100%;
  }
}


// --------------Events Classes---------------
.event__container {
  display: grid;
  grid-template-areas: "img content userbtns"
                       "X admin admin";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin-bottom: 2em;
}

.event-img {
  grid-area: img;
}

.event-img img {
  width: 80%;
}

.event-content {
  grid-area: content;
  padding-left: 1rem;
  text-align: left;
  .content-wrapper {
      /* Serves to adjust how close an event's title and description are to one another.
         Without this wrapper, css-grid reaches in and spaces out the title and description
         text to fill the grid-area space. The content-wrapper div fixes that.
       */
  }
}

.event-content > h3 {
  margin-bottom: 2em;
  width: 100%;
}

.event-btns--user {
  grid-area: userbtns;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.event-btns--admin_container {
  grid-area: admin;
  display: block;
  padding: 0rem 1rem;
}

.event-btns--admin_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-btn {
  width: 12rem;
  display: inline-block;
  margin-bottom: 1em;
  background-color: @button-bg;
  color: @button-color;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  border: 0;
  background: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: .5rem;
}

.btn--disabled {
  &:extend(.btn);
  color: @button-color;
  background-color: darkgrey;
  border: 1px solid darkgrey;
}

.btn--secondary {
   &:extend(.btn);
   color: @tangerine;
   background-color: @button-color;
   border: 1px solid @tangerine;
 }

.btn--secondary-selected {
  &:extend(.btn);
  color: @button-color;
  background-color: @tangerine;
  border: 1px solid @tangerine;
}

&--selected {
  color: @button-color;
  background-color: @tangerine;
}

.btn--secondary {
  color: @tangerine;
  background-color: @button-color;
  border: 1px solid @tangerine;
}

.btn--secondary-selected {

}

.btn--primary-selected {
  color: @button-color;
  background-color: @green-apple;
  border: 1px solid @green-apple;
}

.btn--tertiary {
  background-color: @tangerine;
  border-radius: 2px;
  border: none;
  color: white;
  margin: 1em 0 1em 0;
  cursor: pointer;
}


// -------------- FORMS & INPUT ------------------

.form-title {
  font-size: 18px;
  display: block;
  margin-bottom: 1em;
}

// wrapper for fields in forms laid out horizontally next to each other (e.g., first and last name)
.h-fields {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.input-primary {
  border: 2px solid #888888;
  border-radius: 2px;
  font-size: 16px;
  padding: .5em;
  margin: .5em 0 .5em 0;
}

.half-input {
  width: 43%;
}

.third-input {
  width: 27%;
}

.med-pad-left {
  padding-left: 2.5em;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: @button-color;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: @tangerine;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-btn-basic {
  border: 2px solid black;
  border-radius: 2px;
  padding: .5rem;
  cursor: pointer;
}

.unselected-form-btn {
  border: 2px solid black;
  border-radius: 2px;
  background-color: @button-bg;
}

.selected-form-btn {
  background: @tangerine;
  border: 2px solid @tangerine;
  color: white;
}

// -------------- LABELS & TEXT ------------------
.dekko-label {
  font-family: 'Dekko';
  font-size: 22px;
}
